python中涉及维度操作的函数有这么几个：apply\applymap\map

df.apply(func, axis=0, broadcast=False, raw=False, reduce=None, args=(), **kwds)
func    #参数指定需要执行的函数名称；
axis    #指定针对对象的哪个轴执行运算，0或者index代表行（默认为0），1或者columns代表列
args    #是func函数的可选参数

df.applymap(func)

map(self, /, *args, **kwargs)
map(func, *iterables) --> map object

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(8,6),columns = list('ABCDEF'))
df

          A         B         C         D         E         F
0  2.572586  0.772300 -0.545636  0.018048 -0.974378  1.317071
1 -1.771933 -0.596137  0.144063 -0.049275  2.931374 -2.016669
2 -2.738704  1.295193  0.310085  0.568450  0.429274  0.093268
3 -0.389380 -0.115022  0.428249 -0.766775  0.504174  0.300536
4  1.467508 -0.230466 -0.524662 -0.783416  1.489316 -0.309485
5  0.658470 -0.410624  0.088588 -0.002913 -0.599873 -1.345673
6  1.331859  0.284928 -0.395373 -1.782895 -0.895195 -0.094539
7  0.236013 -1.539438 -0.229695  0.186930 -1.350444  0.425250

In [4]:
df.apply(np.sum,axis=0)

A    1.366419
B   -0.539266
C   -0.724381
D   -2.611846
E    1.534249
F   -1.630242
dtype: float64

In [5]:
# func参数同样支持自定义函数以及匿名函数
df.apply(lambda x:np.sqrt(np.abs(x)),axis=1)

          A         B         C         D         E         F
0  1.603928  0.878806  0.738672  0.134341  0.987106  1.147637
1  1.331140  0.772099  0.379557  0.221979  1.712126  1.420095
2  1.654903  1.138066  0.556853  0.753956  0.655190  0.305399
3  0.624004  0.339149  0.654407  0.875657  0.710052  0.548211
4  1.211407  0.480069  0.724336  0.885108  1.220376  0.556314
5  0.811461  0.640799  0.297637  0.053973  0.774514  1.160032
6  1.154062  0.533786  0.628787  1.335251  0.946147  0.307472
7  0.485812  1.240741  0.479265  0.432354  1.162086  0.652112

In [6]:
# applymap函数针对所有元素执行函数，不区分行列
df.applymap(lambda x:'%.2f' % x)

       A      B      C      D      E      F
0   2.57   0.77  -0.55   0.02  -0.97   1.32
1  -1.77  -0.60   0.14  -0.05   2.93  -2.02
2  -2.74   1.30   0.31   0.57   0.43   0.09
3  -0.39  -0.12   0.43  -0.77   0.50   0.30
4   1.47  -0.23  -0.52  -0.78   1.49  -0.31
5   0.66  -0.41   0.09  -0.00  -0.60  -1.35
6   1.33   0.28  -0.40  -1.78  -0.90  -0.09
7   0.24  -1.54  -0.23   0.19  -1.35   0.43

In [7]:
df.applymap(lambda x:x if x>0 else 0)

          A         B         C         D         E         F
0  2.572586  0.772300  0.000000  0.018048  0.000000  1.317071
1  0.000000  0.000000  0.144063  0.000000  2.931374  0.000000
2  0.000000  1.295193  0.310085  0.568450  0.429274  0.093268
3  0.000000  0.000000  0.428249  0.000000  0.504174  0.300536
4  1.467508  0.000000  0.000000  0.000000  1.489316  0.000000
5  0.658470  0.000000  0.088588  0.000000  0.000000  0.000000
6  1.331859  0.284928  0.000000  0.000000  0.000000  0.000000
7  0.236013  0.000000  0.000000  0.186930  0.000000  0.425250

In [8]:
# map函数专门针对单个序列内的所有元素进行操作，有点儿类似于apply指定序列后的操作。
df['A'].map(lambda x:round(x))

0    3.0
1   -2.0
2   -3.0
3   -0.0
4    1.0
5    1.0
6    1.0
7    0.0
Name: A, dtype: float64

In [9]:
df['B'].map(lambda x:np.abs(x))

0    0.772300
1    0.596137
2    1.295193
3    0.115022
4    0.230466
5    0.410624
6    0.284928
7    1.539438
Name: B, dtype: float64

In [10]:
df['C'].map(lambda x:'%.2f' % x)

0    -0.55
1     0.14
2     0.31
3     0.43
4    -0.52
5     0.09
6    -0.40
7    -0.23
Name: C, dtype: object

In [12]:
df['D'].map(lambda x: x if x>0 else 0)

0    0.018048
1    0.000000
2    0.568450
3    0.000000
4    0.000000
5    0.000000
6    0.000000
7    0.186930
Name: D, dtype: float64